.life {
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    overflow: hidden;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 25px;
    .square {
        width: 20px;
        height: 20px;
        float: left;
        &.live {
            background: green;
        }
        &.dead {
            background: black;
        }
        &:hover {
            background: #C1FFC1;
        }
    }
}